In [1]:
5+5

10

In [2]:
5*5

25

In [3]:
5/5

1.0

In [6]:
#addition is a variable
addition = 5+5

In [7]:
addition

10

In [8]:
multiplication = 5*5

In [9]:
multiplication

25

In [10]:
division = 5/5
division

1.0

In [11]:
khush = [20,'BITS Pilani, Hyderabad Campus', '5"11']
khush

[20, 'BITS Pilani, Hyderabad Campus', '5"11']

In [12]:
khush[1]

'BITS Pilani, Hyderabad Campus'

In [13]:
khush[0]

20

In [14]:
khush[0:3]

[20, 'BITS Pilani, Hyderabad Campus', '5"11']

In [15]:
khush[1:2]

['BITS Pilani, Hyderabad Campus']

In [16]:
khush[0:]

[20, 'BITS Pilani, Hyderabad Campus', '5"11']

In [17]:
khush[1:]

['BITS Pilani, Hyderabad Campus', '5"11']

In [19]:
class_list = ["Mark","Jack","Raj","Khush","Saksham"]

In [20]:
class_list[0:]

['Mark', 'Jack', 'Raj', 'Khush', 'Saksham']

In [21]:
class_list[:3]

['Mark', 'Jack', 'Raj']

In [23]:
class_dict = {'Khush' : 20,'Mukti': 19,'Sonal': 51,'Soham':52,'Pramod':85,'Bhanu':83}

In [24]:
class_dict

{'Khush': 20, 'Mukti': 19, 'Sonal': 51, 'Soham': 52, 'Pramod': 85, 'Bhanu': 83}

In [27]:
# getting the keys from the dictionary
class_dict.keys()

dict_keys(['Khush', 'Mukti', 'Sonal', 'Soham', 'Pramod', 'Bhanu'])

In [28]:
class_dict.values()

dict_values([20, 19, 51, 52, 85, 83])

In [29]:
class_dict['Khush']

20

In [31]:
class_dict['Mukti']

19

In [33]:
import numpy as np
a = np.array([1,2,4,5])
a

array([1, 2, 4, 5])

In [35]:
class_list = [['Khush','male'],'Mukti','Sonal']
class_list

[['Khush', 'male'], 'Mukti', 'Sonal']

In [7]:
import pandas as pd
retail_data = pd.read_csv('C:\\Users\\Khush Bhuta\\Desktop\\python_workspace\\data\\online_retail2.csv')

In [8]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [9]:
retail_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [10]:
retail_data.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [12]:
retail_data.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [13]:
retail_data.Quantity.describe()

count    1.067371e+06
mean     9.938898e+00
std      1.727058e+02
min     -8.099500e+04
25%      1.000000e+00
50%      3.000000e+00
75%      1.000000e+01
max      8.099500e+04
Name: Quantity, dtype: float64

In [15]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [18]:
first_five = retail_data.iloc[0:5,0:5]
first_five

,Invoice,StockCode,Description,Quantity,InvoiceDate
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00

In [20]:
two_columns = retail_data.loc[:,['Invoice','Quantity']]
two_columns

        Invoice  Quantity
0        489434        12
1        489434        12
2        489434        12
3        489434        48
4        489434        24
...         ...       ...
1067366  581587         6
1067367  581587         4
1067368  581587         4
1067369  581587         3
1067370  581587         1

[1067371 rows x 2 columns]

In [22]:
second_subset = retail_data.iloc[[1,4,5],[1,3,6]]
second_subset

  StockCode  Quantity  Customer ID
1    79323P        12      13085.0
4     21232        24      13085.0
5     22064        24      13085.0

In [23]:
retail_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [24]:
retail_data['Price_USD'] = retail_data['Price']*1.2
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60

In [25]:
khush = 20

In [26]:
khush > 20

False

In [28]:
(khush>10) & (khush<19)

False

In [44]:
def status(p):
    if(p>=20):
        print("adult")
    elif(p>=14):
        print("teenager")
    else:
        print("child")

In [45]:
khush = 25
status(khush)

adult

In [46]:
khush = 20
mukti = 19
sonal = 52

In [50]:
class_list = [khush,mukti,sonal]

In [51]:
map_object = map(status,class_list)
map_object

In [52]:
status_list = list(map_object)

adult
teenager
adult

In [55]:
for age in class_list:
    status(age)

adult
teenager
adult

In [56]:
status_list=[]
for age in class_list:
    status_list.append(status(age))
status_list

adult
teenager
adult

[None, None, None]

In [57]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60

In [63]:
def ukornot(country):
    if(country=="United Kingdom"):
        return (True)
    else:
        return (False)

In [64]:
ukornot('France')

False

In [65]:
retail_data['uk'] = retail_data['Country'].map(ukornot)

In [66]:
retail_data['uk']

0           True
1           True
2           True
3           True
4           True
           ...
1067366    False
1067367    False
1067368    False
1067369    False
1067370    False
Name: uk, Length: 1067371, dtype: bool

In [67]:
retail_data.uk.value_counts()

uk
True     981330
False     86041
Name: count, dtype: int64

In [68]:
first_10 = retail_data.iloc[:10,:]

In [69]:
first_10

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom,1.98,True
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom,7.14,True
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom,3.06,True
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom,4.50,True

In [71]:
first_10['uk1'] = np.nan
first_10.shape[0]

NameError: name 'np' is not defined

In [ ]:
for i in range(0,first_10.shape[0]):s