In [1]:
import pandas as pd
import numpy as np
import inventorize as inv
import seaborn

In [4]:
mean = 50
sd = 10
c = 1.2
salvage = 0.7
penalty_term = 0.4
price = 3

In [5]:
inv.CriticalRatio(price,c,0,0)

0.6

In [6]:
inv.MPN_singleperiod(mean,sd,price,c,0,0)

{'quantity': 52.533471031358,
 'demand': 50,
 'sd': 10,
 'unitshort': 2.8500369224254065,
 'shortagecost': 8.55011076727622,
 'cost': 63.040165237629594,
 'revenue': 150,
 'profit': 78.40972399509418,
 'soldatfullprice': 47.1499630775746,
 'sold_discount': 5.3835079537834005}

In [7]:
inv.CriticalRatio(price,c,salvage,0)

0.782608695652174

In [8]:
inv.MPN_singleperiod(mean,sd,price,c,salvage,0)

{'quantity': 57.81033811522709,
 'demand': 50,
 'sd': 10,
 'unitshort': 1.2427768964900099,
 'shortagecost': 2.8583868619270225,
 'cost': 28.905169057613545,
 'revenue': 150,
 'profit': 83.23644408045942,
 'soldatfullprice': 48.75722310350999,
 'sold_discount': 9.053115011717097}

In [9]:
inv.MPN_singleperiod(mean,sd,price,c,salvage,penalty_term)

{'quantity': 58.957798188835895,
 'demand': 50,
 'sd': 10,
 'unitshort': 1.012102766308183,
 'shortagecost': 2.732677469032094,
 'cost': 29.478899094417947,
 'revenue': 150,
 'profit': 82.78842343654995,
 'soldatfullprice': 48.98789723369182,
 'sold_discount': 9.969900955144077}

In [10]:
inv.EPN_singleperiod(40,40,10,price,c,0,0)

{'quantity': 40,
 'demand': 40,
 'sd': 10,
 'unitshort': 3.989422804014327,
 'shortagecost': 11.968268412042981,
 'cost': 48.0,
 'revenue': 120,
 'profit': 60.03173158795702,
 'soldatfullprice': 36.010577195985675,
 'sold_discount': 3.9894228040143247}

In [11]:
import pandas as pd

In [13]:
retail_clean = pd.read_csv("C:\\Users\\Khush Bhuta\\Desktop\\python_workspace\\data\\retail_clean.csv")

In [14]:
retail_clean

,Unnamed: 0,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,revenue
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...,...
779490,1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
779491,1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779492,1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779493,1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
779494,1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

In [17]:
retail_clean.columns

Index(['Unnamed: 0', 'Invoice', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'Price', 'Customer ID', 'Country', 'revenue'],
      dtype='object')

In [18]:
retail_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   779495 non-null  int64
 1   Invoice      779495 non-null  int64
 2   StockCode    779495 non-null  object
 3   Description  779495 non-null  object
 4   Quantity     779495 non-null  int64
 5   InvoiceDate  779495 non-null  object
 6   Price        779495 non-null  float64
 7   Customer ID  779495 non-null  float64
 8   Country      779495 non-null  object
 9   revenue      779495 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 59.5+ MB

In [19]:
retail_clean['InvoiceDate'] = pd.to_datetime(retail_clean['InvoiceDate'])

In [20]:
retail_clean['date'] = retail_clean['InvoiceDate'].dt.strftime('%Y-%m-%d')

In [21]:
retail_clean['date'] = pd.to_datetime(retail_clean['date'])

In [22]:
retail_clean['year'] = retail_clean['InvoiceDate'].dt.year

In [23]:
years_2 = retail_clean[retail_clean.year.isin([2010,2011])]

In [24]:
total = years_2.groupby(['year','Description']).agg(total_sales = ('Quantity','sum'),
                                           price = ('Price','mean')).reset_index()

In [25]:
total

      year                          Description  total_sales      price
0     2010    DOORMAT UNION JACK GUNS AND ROSES          167   6.640196
1     2010             3 STRIPEY MICE FELTCRAFT          399   1.941429
2     2010        4 PURPLE FLOCK DINNER CANDLES          200   2.150000
3     2010                      ANIMAL STICKERS          169   0.210000
4     2010          BLACK PIRATE TREASURE CHEST            6   1.650000
...    ...                                  ...          ...        ...
8102  2011      ZINC T-LIGHT HOLDER STARS SMALL         4894   0.836975
8103  2011       ZINC TOP  2 DOOR WOODEN SHELF             9  16.950000
8104  2011     ZINC WILLIE WINKIE  CANDLE STICK         2432   0.873833
8105  2011          ZINC WIRE KITCHEN ORGANISER           25   7.175000
8106  2011     ZINC WIRE SWEETHEART LETTER TRAY           80   3.454000

[8107 rows x 4 columns]

In [26]:
expected = total.groupby(['Description']).agg(expected_demand = ('total_sales','mean'),
                                             sd = ('total_sales','std'),
                                             price = ('price','mean')).reset_index()

In [27]:
expected

,Description,expected_demand,sd,price
0,DOORMAT UNION JACK GUNS AND ROSES,167.0,NaN,6.640196
1,3 STRIPEY MICE FELTCRAFT,399.0,NaN,1.941429
2,4 PURPLE FLOCK DINNER CANDLES,162.0,53.740115,2.224286
3,50'S CHRISTMAS GIFT BAG LARGE,1885.0,NaN,1.248073
4,ANIMAL STICKERS,169.0,NaN,0.210000
...,...,...,...,...
5146,ZINC T-LIGHT HOLDER STARS SMALL,4894.0,NaN,0.836975
5147,ZINC TOP 2 DOOR WOODEN SHELF,69.0,84.852814,14.753571
5148,ZINC WILLIE WINKIE CANDLE STICK,2818.0,545.886435,0.860579
5149,ZINC WIRE KITCHEN ORGANISER,25.0,NaN,7.175000
5150,ZINC WIRE SWEETHEART LETTER TRAY,80.0,NaN,3.454000

In [ ]:
# we must eliminate the NaN in standard deviation and we create a margin of error

In [29]:
expected['sd']

0              NaN
1              NaN
2        53.740115
3              NaN
4              NaN
           ...
5146           NaN
5147     84.852814
5148    545.886435
5149           NaN
5150           NaN
Name: sd, Length: 5151, dtype: float64

In [30]:
def margin_error(dataframe):
    if(pd.isna(dataframe['sd'])):
        a = dataframe['expected_demand']*0.1
    else:
        a = dataframe['sd']
    return a

In [31]:
expected['sd1'] = expected.apply(margin_error,axis=1)

In [32]:
expected['sd1']

0        16.700000
1        39.900000
2        53.740115
3       188.500000
4        16.900000
           ...
5146    489.400000
5147     84.852814
5148    545.886435
5149      2.500000
5150      8.000000
Name: sd1, Length: 5151, dtype: float64

In [33]:
expected.head()

,Description,expected_demand,sd,price,sd1
0,DOORMAT UNION JACK GUNS AND ROSES,167.0,NaN,6.640196,16.700000
1,3 STRIPEY MICE FELTCRAFT,399.0,NaN,1.941429,39.900000
2,4 PURPLE FLOCK DINNER CANDLES,162.0,53.740115,2.224286,53.740115
3,50'S CHRISTMAS GIFT BAG LARGE,1885.0,NaN,1.248073,188.500000
4,ANIMAL STICKERS,169.0,NaN,0.210000,16.900000

In [35]:
empty_data = pd.DataFrame()

In [36]:
expected['cost'] = expected['price']*0.6

In [37]:
for i in range(expected.shape[0]):
    a = inv.MPN_singleperiod(expected.loc[i,'expected_demand'],
                            expected.loc[i,'sd1'],
                            expected.loc[i,'price'],
                            expected.loc[i,'cost'], 0,0)
    b = pd.DataFrame(a,index = [0])
    b['description'] = expected.loc[i,'Description']
    empty_data=pd.concat([empty_data,b],axis=0)

C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2246: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
C:\Users\Khush Bhuta\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\stats\_distn_infrastructure.py:2247: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

In [42]:
empty_data.iloc[1,:]

quantity                          388.891451
demand                                 399.0
sd                                      39.9
unitshort                          21.480197
shortagecost                       41.702268
cost                              453.002984
revenue                               774.63
profit                            279.924748
soldatfullprice                   377.519803
sold_discount                      11.371647
description         3 STRIPEY MICE FELTCRAFT
Name: 0, dtype: object